/*font-family: 'Nunito', sans-serif;*/
:root {
  --primary-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --heading-font-family: "Nunito", sans-serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 72px;
  line-height: 1.5;
}
h2 {
  font-size: 28px;
  font-family: var(--heading-font-family);
  line-height: 39px;
  margin-top: 20px;
  text-align: center;
}
h3 {
  font-family: var(--heading-font-family);
  text-align: center;
  font-size: 48px;
}
h4 {
  color: var(--secondary-color);
}
h6 {
  line-height: 30px;
  margin: 40px 0;
}
p {
  font-size: 16px;
  font-weight: normal;
  opacity: 0.7;
  line-height: 24px;
  margin: 40px 0;
}
hr {
  border-top: 3px dotted #67d5d2;
}
footer {
  padding: 10px 0px;
  background: var(--primary-color);
}
footer .footerallrights {
  margin-top: 10px;
  font-size: 12px;
}
footer .footermark {
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
}
i {
  font-size: 28px;
  color: var(--secondary-color);
  margin: 0px 8px;
}
i:hover {
  transition: all 200ms ease-in-out;
  color: #5c55e0;
}
li {
  list-style: none;
}
.navbar {
  padding: 20px 120px;
}
.navbar-brand {
  font-weight: bold;
}
.container {
  padding: 60px 60px;
}
.container a {
  text-decoration: none;
  color: black;
  text-align: center;
}
.container a:hover {
  transition: 100ms ease-in-out;
  opacity: 0.9;
}
.recepie-container {
  padding: 160px 413px 100px 267px;

  display: block;
  margin: 0 auto;
}
.recepie-container a {
  text-decoration: none;
  color: #272142;
}
.recepie-container a:hover {
  transition: 100ms ease-in-out;
  opacity: 0.9;
}
.recepie-step {
  color: #f65282;
  line-height: 50px;
}
.recepie-title {
  font-size: 20px;
  font-weight: bold;
  font-family: var(--heading-font-family);
  line-height: 30px;
}
.hero {
  background-image: url("/src/images/overlay.png");
  text-align: center;
  padding: 120px 0px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: white;
}
.hero p {
  font-size: 24px;
  line-height: 35px;
  font-weight: bold;
  color: white;
  margin: 0 auto;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-size: 24px;
  font-weight: normal;
  line-height: 2;
  margin-bottom: 40px;
}
.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-projects {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-description {
  margin: 100px 60px;
}

.about-me-hero {
  padding: 160px 120px;
}
.about-me-description {
  margin-bottom: 20px;
  margin-right: 20px;
}
.about-me-description .name {
  font-size: 64px;
}
.contact-box {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 40px;
  margin: 30px 60px;
  border-radius: 15px;
}
.active {
  color: var(--secondary-color) !important;
}
.mail-link {
  color: black;
  font-size: 16px;
  text-decoration: none;
}
.mail-link:hover {
  color: var(--secondary-color);
}
.certificate {
  background-color: #f9f7fe;
  padding: 20px 20px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 28px;
    line-height: 1;
  }
  h2 {
    font-size: 30px;
    line-height: 1;
  }

  i {
    margin: 0px 3px;

    font-size: 24px;
  }
  .navbar {
    padding: 20px 0px;
  }
  .hero {
    background-image: url("");
    background: var(--primary-color);
    padding: 120px 0px 20px 0px;
    color: black;
  }
  .hero p {
    font-size: 20px;
    color: black;
  }
  .container {
    padding: 40px 20px;
    display: block;
    margin: 0 auto;
  }
  .recepie-container {
    padding: 100px 20px 20px 20px;
    display: block;
    margin: 0 auto;
  }
  .project-description {
    text-align: center;
    padding: 0;
  }
  .about-me-hero {
    padding: 20px;
    margin-top: 80px;
    text-align: center;
  }
  .contact-box {
    margin: 20px;
  }
  .footer {
    padding: 10px 0px;
    text-align: center;
  }
}
